* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(39, 41, 68);
  font-family: sans-serif;
}

.score {
  color: rgb(224, 224, 224);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 5vh;
}

.score p {
  font-size: 3vh;
  padding: 1.5vh;
  text-align: center;
}

.intro {
  color: rgb(224, 224, 224);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 7vh;
  padding: 1vh;
}


.intro button,
.match button {
  width: 15vh;
  height: 7vh;
  background: none;
  background-color: rgb(45, 117, 96);
  /* border: none; */
  color: rgb(224, 224, 224);
  font-size: 2vh;
  padding: 1.5vh;
  cursor: pointer;
}

.match {
  position: absolute;
  left: 50%;
  top: 50%;
  /* border: 1px solid; */
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(224, 224, 224);
  transition: opacity 0.5s ease 0.5s;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotateY(180deg);
}

div.fade-out {
  opacity: 0;
  pointer-events: none;
}

div.fade-in {
  opacity: 1;
  pointer-events: all;
}
